body{
    background-color: whitesmoke;
}
.TopNavbar{
    background-color: cornflowerblue;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}
.main{
    background-color: white;          
    height: 600px;
    margin: 0px 20px 0px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}
.leftNav{
    width: 225px;
    padding: 0px 5px 0px 20px;
}
.bottom{
    background-color: lightgray;
    font-size: smaller;
    margin-top: 30px;
    width: 100%; 
    height: 30px; 
    padding: 5px 5px 5px 5px;
    text-align: center;
}
.navHeader{
    background-color: CornflowerBlue;
    font-size: larger;
    color: white;
    text-align: center;    
}
.navListGroup{
    font-size:medium;
}
.navHeader,.navListGroup{
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
}
.navListGroup a{
    padding-top: 5px;
    padding-bottom: 5px;
}
.navListGroup a:not(.active):hover{
    background-color: lightgray;
}
.navListGroup a.active{
    background-color: LightSlateGray;
    border-color: LightSlateGray;
}
.middle-content{
    margin-top: 30px;
}
@media only screen and (max-width: 576px) {
    .TopNavbar,.main,.navHeader,.navListGroup{
        box-shadow: none;
    }
    .leftNav{
        display: none;
    }
    .main{
        margin: 1px 1px 1px 1px;
    }
    .bottom{
        margin-top: 0;
    }
    .middle-content{
        margin-top: 0px;
    }
}